*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.app {
  max-width: 1230px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  box-shadow: 0 0 32px rgb(177, 175, 175);
}


/*----------Header------------*/
@import url('./components/header/Header.css');

/*----------Products------------*/
@import url('./components/MainPages/products/Products.css');

/*----------Product Detail------------*/
@import url('./components/MainPages/productsDetail/ProductDetail.css');

/*------------- Login ------------*/
@import url('./components/MainPages/auth/Login.css');

/*------------- Cart ------------*/
@import url('./components/MainPages/cart/Cart.css');


/*------------- Category ------------*/
@import url('./components/MainPages/categories/Categories.css');

/*------------- Create Product ------------*/
@import url('./components/MainPages/createProduct/CreateProduct.css');


/*------------- Responsive ------------*/
@media (max-width: 991px) {
  header{
    display: flex;
    
  }
  header .logo{
    min-width: 115px;
    justify-content: center;
    flex: none;
  }
 
  header ul {
    position: fixed;
    top: 72px;
    left: -100%;
    width: 50%;
    height: 88vh;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.97;
    z-index: 99;
    transition: 0.5s ease-in-out;
  }
 
  header ul li a{
    width: 100%;
    height: 100%;
    margin: 4px auto;
    text-align: center;
    align-items: center;
  }
  header .menu {    
    display: block;
    cursor: pointer;
  }
}
@media (max-width: 575px) {
  .app {
    font-size: 80%;
  }
}

