*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*----------Header------------*/
@import url('./components/header/Header.css');

/*----------Products------------*/
@import url('./components/MainPages/products/Products.css');

/*----------Product Detail------------*/
@import url('./components/MainPages/productsDetail/ProductDetail.css');