.page {
  height: 75vh !important;
}
form {
  margin: 8px;
}
form label {
  text-align: left;
  width: 100%;
  margin: 8px auto 0 ;
}
.btnLink a {
    color: #0d6efd;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem
  }
  /* mouse over link */
.btnLink a:hover {
    color: hotpink;
  }
.btnLink div {
  margin: 8px 1px;
}

.forms{
  border: 1px solid #555;
  margin: 24px auto;
  border-radius: 10px;
}
.link {
  text-align: right;
}